<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{base.html}">
    <!-- DO NOT DELETE OR MODIFY THIS DIV -->
    <!-- This section is critical for rendering the plugin's name and description dynamically. -->
    <!-- Removing or altering this structure may break the UI or cause plugin information to not display correctly. -->
    <div layout:fragment="custom-content" class="container mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title">Your plugin name</h2> <!-- Your plugin name here -->
                <p class="card-subtitle">Your description</p> <!-- Your description here -->
                <!-- Add  your custom content here -->
            </div>
        </div>
        <!--  Add your custom content here if your plugin has multiple sections -->
    </div>
</html>